# -----------------------------------------------------------------------------
#                                  AI-DevBox
#                            Apt system Requirements
# -----------------------------------------------------------------------------

# --- Core packages ---
locales
vim
wget
curl
htop
zsh
git
unzip
zip
bzip2
gawk
python3
python3-distutils
python3-pip
pylint
python3-pyglet

# --- Nvidia TensorRT ---


# --- Deep Reinforcement Learning environment dependencies ---
xvfb
ffmpeg
zlib1g-dev
libjpeg-dev
patchelf
cmake
pkg-config
swig
libboost-all-dev
libsdl2-dev
libosmesa6-dev
libfreetype6-dev
python-pyglet
python3-opengl
#python-opengl


